.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width:160px;
}

.dropdown {
  position: relative;
  color:black;
  margin:5%;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 45%;
  right:45%;
  margin-left: -50px;
  top: 50%;
  margin-top:30px;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-bottom: 30px;
}
.itemDrop-active{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.itemDrop{
  display:none;
}
.dropdown:hover .dropdown-content {
  display: inline-block;
}
.itemDrop-active:hover{
  background-color: #E6ECFF;
    text-decoration: none;
}

.dropdown .dropbtn {
  background-color: #6688F7;
  border:solid 1px white;
  border-radius: 10px;
}
@media screen and (min-width: 768px){
  .dropdown{
    display: none;
  }
  .col-sm-3{
    margin-top: 20px;
  }
}
